:root {
  --main-light-color: #fff;
  --main-dark-color: #212121;
  --second-dark-color: #757575;
  --mail-font-color: #ffffff;
  --second-font-color: #2f303a;
  --third-font-color: #f5f4fa;
  --portfolio-font: #e5e5e5;
  --color-icon: #AFB1B8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--second-dark-color);
}

.section {
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-form-submit {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: var(--mail-font-color);
  background: #188CE8;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.sections-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-dark-color);
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(15, 15, 15, 0.5);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  cursor: pointer;
}
.close:hover, .close:focus {
  fill: #2196f3;
}

.close-icon {
  width: 100%;
  height: 100%;
}

.modal-form-titel {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(4n) {
  margin-bottom: 20px;
}

.modal-form-field-desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-dark-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-form-input-wraper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-dark-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #2196f3;
}

.modal-form-message {
  display: block;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-form-check {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-form-own-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-own-checkbox-icon {
  display: none;
}

.modal-form-check:checked + .modal-form-own-checkbox {
  border-color: transparent;
  background-color: #2196F3;
}

.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-check:focus + .modal-form-own-checkbox {
  border-color: #2196f3;
}

.modal-form-check-desc,
.modal-form-check-contract {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-dark-color);
}

.modal-form-check-contract {
  color: #2196F3;
}

.section {
  padding-top: 94px;
}

.section:not(:nth-child(2)) {
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav,
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  height: 48px;
}

.container .nav:nth-child(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.auth-nav.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link,
.header-contact {
  text-decoration: none;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__black {
  color: #000;
}

.nav-link,
.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-icon {
  fill: currentColor;
  margin-right: 10px;
}

.active::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  opacity: 1;
}

.site-nav .item {
  position: relative;
}

.nav .link.active {
  color: #2196f3;
}

.site-nav .link,
.header-contact,
.customers-link,
.footer-address,
.footer .footer-contact {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .item:hover,
.auth-nav .item:focus {
  color: #2196f3;
}

.site-nav .link {
  color: var(--main-dark-color);
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--second-dark-color);
}
.header-contact:hover, .header-contact:focus {
  color: #2196f3;
}

.main .hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* button studio */
.button {
  display: inline-block;
  width: 216px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
  background: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.flex .item:not(:last-child) {
  margin-right: 30px;
}

.benefits-titel {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-dark-color);
}

.benefits-icon-box {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #F5F4FA;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-text {
  line-height: 24px;
  width: 270px;
}

.feature-thumb {
  position: relative;
}

.feature-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mail-font-color);
}

.team {
  background-color: #F5F4FA;
}

.team .list.flex > .item {
  text-align: center;
  background-color: var(--mail-font-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.sections-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-dark-color);
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-dark-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social-team-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-team-list .item {
  width: 44px;
  height: 44px;
}

.social-team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team-link:hover, .social-team-link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-team-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-team-list .item:not(:last-child) {
  margin-right: 10px;
}

.customers-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers-list .item {
  width: 170px;
  height: 92px;
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-icon);
  border-radius: 4px;
  border: 1px solid currentColor;
}
.customers-link:hover, .customers-link:focus {
  color: #2196f3;
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers .item:not(:last-child) {
  margin-right: 30px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battons-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-dark-color);
  background: var(--third-font-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:focus, .buttons:hover {
  background: #2196f3;
  color: var(--main-light-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.battons-item:not(:last-child) {
  margin-right: 8px;
}

.list-jobs {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-jobs .item {
  margin-right: 30px;
  margin-top: 30px;
}

.list-jobs .item:nth-child(3n) {
  margin-right: 0;
}

.list-jobs .item:nth-child(-n+3) {
  margin-top: 0;
}

.href-img {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href-img:hover, .href-img:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.href-img:hover .product-overlay,
.href-img:focus .product-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.href-tex {
  position: absolute;
  width: 322px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--mail-font-color);
}

.content-item {
  padding: 24px 20px;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}

.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-color);
  margin-bottom: 4px;
}

.content-tex {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-dark-color);
}

.footer {
  background-color: var(--second-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo__white,
.footer-address {
  color: var(--mail-font-color);
}

.footer-address,
.footer-contact {
  font-style: normal;
  line-height: 1.71;
}

.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}

.footer .footer-contact:hover,
.footer .footer-contact:focus {
  color: #2196f3;
}

.footer .footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list .item:not(:first-child) {
  margin-top: 9px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-right-side {
  margin-left: 70px;
}

.footer-form {
  margin-left: 94px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-form-email input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--mail-font-color);
  background-color: var(--second-font-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-form-subscribe-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--mail-font-color);
}

.footer-email-subscribe,
.social-networks-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-bottom: 20px;
}

.social-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks-list .item {
  width: 44px;
  height: 44px;
}

.social-networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-link:hover, .social-networks-link:focus {
  background-color: #2196f3;
}

.social-networks-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-networks-list .item:not(:last-child) {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */