.footer {
    background-color: var(--second-font-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-logo{
    margin-bottom: 20px;
  }
  .logo__white,
  .footer-address {
    color: var(--mail-font-color);
  }
  
  .footer-address,
  .footer-contact {
    font-style: normal;
    line-height: 1.71;
  }
  .footer-address:hover,
  .footer-address:focus {
    color: #2196f3;
  }
  .footer .footer-contact:hover,
  .footer .footer-contact:focus {
    color: #2196f3;
  }
  
  .footer .footer-contact {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-list .item:not(:first-child) {
    margin-top: 9px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-right-side {
    margin-left: 70px;
  }
  .footer-form {
    margin-left: 94px;
    padding: 0;
    display: flex;
    align-items: flex-end;
  }
  .footer-form-email {
     display: flex;
    flex-direction: column;
    
  }
  .footer-form-email input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: var(--mail-font-color);
    background-color: var(--second-font-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  }
  .footer-form-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
   
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .footer-form-subscribe-icon {
    display: flex;
    padding: 0;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--mail-font-color);
  }
  .footer-email-subscribe,
  .social-networks-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-light-color);
  
    margin-bottom: 20px;
  } 
  .social-networks-list {
    display: flex;
    justify-content: center;
  }
  .social-networks-list .item {
   width: 44px;
   height: 44px;
  }
  .social-networks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          background-color: #2196f3;
          
        }
  }
  
  .social-networks-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
   }
  .social-networks-list .item:not(:last-child) {
    margin-right: 10px;
    
  }